<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='flasktodo/icons/icon.png') }}" rel="shortcut icon" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./flasktodo/css/base.css')}}">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="topnav">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='flasktodo/images/logo_list.png') }}" width="33" height="33" class="d-inline-block align-top" alt="">FlaskToDo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% block home_H_L %}{% endblock %}" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block about_H_L %}{% endblock %}" href="{{ url_for('about') }}">About</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" method='POST' value="{{ csrf_token }}">
          <input name="backlog" class="form-control mr-sm-2" type="text" placeholder="Add mission in here." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
        </form>
      </div>
    </nav>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
	    <!-- Bootstrap core JavaScript
    }
    }
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
