{% extends 'base.html' %}
{% block title %}FlaToDo{% endblock %}
{% block css %}
	{{ url_for('static', filename='flasktodo/css/home.css')}}
{% endblock %}
{% block home_H_L %}active{% endblock %}
{% block content %}

{% if warning %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><center>{{ warning }}</center></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% if message %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong><center>{{ message }}</center></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<div class="table-responsive">
	<table class="table table-hover table-dark">
	  <thead class='bg-color'>
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Things</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Mark</th>
				<th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody class="no-underline">

			{% for thing in things %}
				{% if thing.done %}
			    <tr>
			      <th scope="row">{{ loop.index }}</th>
			      <td id="line-though">{{ thing.thing }}</td>
			      <td>
							<a class="text-secondary">Edit</a>
						</td>
			      <td><a class="text-info" href="{{ url_for('mark') }}">Mark</a></td>
						<td>
							<form method="POST" action="{{ url_for('delete', things_id=thing.id) }}" value="{{ csrf_token }}">
		            <button type="submit" class="btn btn-danger btn-sm">删除</button>
					    </form>
						</td>
			    </tr>
				{% else %}
			    <tr>
						<th scope="row">{{ loop.index }}</th>
			      <td>{{ thing.thing }}</td>
			      <td>
							<a class="text-info" href="{{ url_for('edit') }}">Edit</a>
						</td>
			      <td><a class="text-info" href="{{ url_for('mark') }}">Mark</a></td>
						<td>
							<form method="POST" action="{{ url_for('delete', things_id=thing.id) }}" value="{{ csrf_token }}">
		            <button type="submit" class="btn btn-danger btn-sm">删除</button>
					    </form></td>
			    </tr>
				{% endif %}
			{% endfor %}

	  </tbody>
	</table>
</div>
{% endblock %}
